@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: grid;
    place-items: center;
    background: url('background.jpg');
    background-size: cover;
    background-position: left;
    font-family: "Inter", serif;
}
main{
    max-width: 540px;
    width: 100%;
}
.form-title{
    position: relative;
    width: 100%;
    background: rgb(255, 206, 171);
    text-align: center;
    padding:0  14px;
    color: #000;
    border: 1px solid brown;
}
.form-title::before{
    position: absolute;
    content: 'Emeries Pets';
    font-size: .84rem;
    right: 0px;
    top: -20px;
    background: brown;
    font-weight: 700;
    text-transform: uppercase;
    padding: 2px;
    color: #fff;
}
.form-title img{
    height: 30px;
    width: 30px;
}

form{
    padding: 20px;
    display: grid;
    gap: 10px;
}
label{
    margin-bottom: -5px;
    font-size: 1rem;
    font-weight: 500;
    color: #000;
    background: rgb(255, 206, 171);
    width: max-content;
    padding: 5px;
    border: 1px solid brown;
    border-left:10px solid brown ;
}
input, textarea, select{
    padding: 10px 15px;
    font-size: 1rem;
    font-family: "Inter",serif;
}
button{
    padding: 15px;
    font-weight: 700;
    background: brown;
    border: 0;
    color: #fff;
    font-size: 1rem;
    transition: all ease-in-out 1s;
}
button:hover{
    background: rgb(201, 49, 49);
}